<br>
<div *ngIf="dataSource">
<div fxLayoyut="row" fxLayoutAlign="space-around center">
    <mat-form-field fxFlex="30%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Key Filter">
    </mat-form-field>
    <mat-form-field fxFlex="60%" class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            <mat-icon color="primary" *ngIf="fruit === 'Approved'">check_circle</mat-icon>
            <mat-icon color="accent" *ngIf="fruit === 'Pending'">block</mat-icon>
            &nbsp;{{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Meta Filter"
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</div>

<div class="example-table mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="eventId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Id </th>
    <td mat-cell *matCellDef="let row"> {{row.eventId}} </td>
</ng-container>

<ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </th>
    <td mat-cell *matCellDef="let row"> {{row.eventName}} </td>
</ng-container>

<ng-container matColumnDef="approvedStatus">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Approved Status </th>
  <td mat-cell *matCellDef="let row"> 
      <mat-icon color="primary" *ngIf="row.approvedStatus">check_circle</mat-icon>
      <mat-icon color="accent" *ngIf="!row.approvedStatus">block</mat-icon>
  </td>
</ng-container>

<ng-container matColumnDef="Details">
  <th mat-header-cell *matHeaderCellDef> Details </th>
  <td mat-cell *matCellDef="let row">
      <button (click)="detailsDialog(row)" mat-icon-button color="accent">
          <mat-icon>folder</mat-icon>
      </button>
  </td>
</ng-container>

<ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef> Options </th>
    <td mat-cell *matCellDef="let row">
        <button [disabled]="row.approvedStatus" (click)="permissionDialog(row)" mat-icon-button color="accent">
            <mat-icon>launch</mat-icon>
        </button>
    </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card *ngIf="isLoading" class="fetch-loading">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate"
    strokeWidth="5"
    diameter="50">
  </mat-progress-spinner>
</mat-card>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons="true"></mat-paginator>
</div>
</div>
<div class="fetch-loading" *ngIf="!dataSource">
  <p>No record found. or Lasy loading.</p>
</div>