/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
.spacer {
    margin-top: 10px;
}

.div-container {
    padding: 20px;
    background-color: white;
}

.fetch-loading{
  display: flex; 
  justify-content: center; 
  align-items: center
}